@model IEnumerable<_09.Mass.Extinction.Web.Data.Entities.Message>

@{
    ViewData["Title"] = "View Admin Messages";
}

<h1>View Admin Messages</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAnonymous)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAnonymous)
            </td>
        </tr>
}
    </tbody>
</table>
